<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# My Jupyter Notebook on IBM Watson Studio

<b>MUHAMMAD IBTISAM</b>
 (Student Of Chemical Engineering)

# Introduction
*I am interested in Data Scienence because I want to play with a huge or a large amount of data*
*I love to bea Data Scientist*

### Addition

In [14]:
x = 1
y = 1
z=x+y
print("=",z)

= 2

## My Favorite Things
(bulleted list)
* Coffee
* Chocolate
* Hiking

## Numbered List
1. Yosemite National Park
2. Grand Canyon National Park
3. Rocky Mountain National Park

In [22]:
def greet(name):
    print(f"Hello, {name}!")
    
greet("World")

Hello, World!

## Data Science Languages
1. Python
2. Jupyter
3. SQL
4. R

## Data Science Libraries
1. PyTorch
2. TensorFlow
3. Theano

## Table Of Data Science Tools
1. Excel
2. TensorFlow
3. Tableow

## Arthematic Mean Examples
1. 2 + 3
2. 7 - 5
3. 4 * 6
4. 10 / 2
5. (3 + 4) * 5
6. 8 / (2 + 2)
7. 2^3 (2 raised to the power of 3)
8. 10 % 3 (10 modulo 3 - the remainder when 10 is divided by 3)
9. sqrt(16) (square root of 16)
10. log10(100) (log base 10 of 100)

In [4]:
# multiplication and addition

a = 5
b = 7
c = 2

# multiply a and b
result1 = a * b

# add b and c
result2 = b + c

# print the results
print("The result of a times b is:", result1)
print("The result of b plus c is:", result2)

The result of a times b is: 35
The result of b plus c is: 9

In [6]:
# multiplication ND ddition

a = 67
b = 89
c = 44

# multiply a and b
result1= a * b

# add a and b
result2= a + b + c

#print results
print("1.",result1)
print("2.",result2)

1. 5963
2. 200

## Minutes into hours

In [7]:
# convert minutes to hours

minutes = 125

# divide minutes by 60 to get hours
hours = minutes / 60

# print the result
print(minutes, "minutes is equal to", hours, "hours")

125 minutes is equal to 2.0833333333333335 hours

In [11]:
# convert seconds into hours

seconds = 84600

# divide seconds by 60 to get minutes
minutes= seconds/60

# divide minutes by 60 to get hours'
hours= minutes/60

# divide hours by 24 to get days
days= hours/24

# print the results
print("1.",hours)

1. 23.5

# List Of Objectives
1. Minutes into Hours
2. Multiplication ANd Addition
3. Arthimatic Mean Example
4. Table Of DAta Science Tools
5. Data Science Libraries
6. Data Science LAnguages
7. Numbered Lists
8. My Favorite Things
9. Addition

### *AUTHORS NAME*
#            MUHAMMAD IBTISAM